<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper">
    <div class="login-register">
        <div class="login-box card">
            <div class="card-body">
                <form ngNativeValidate class="form-horizontal form-material" id="loginform">
                    <div style="display: block;">
                        <img src="assets/images/logoEmergia.png" alt="Emergia" width="175" height="60" />
                    </div>
                    <div style="display: block; margin:13px">
                        <img src="assets/images/login-users.png" alt="Emergia" width="70" />
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" name="login" required="" placeholder="Usuario" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" name="password" required="" placeholder="Contraseña" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12">
                            <input name="mostrarPass" id="checkMostrarPass" type="checkbox" class="filled-in chk-col-light-blue">
                            <label class="custom-control-label" for="checkMostrarPass">Mostrar Contraseña </label>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        <div class="col-xs-12 p-b-20">
                            <button class="btn btn-block btn-lg btn-info btn-rounded" type="submit">
                  Iniciar Sesión
                </button>
                        </div>
                    </div>
                    <!--<div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
            <div class="social">
              <a href="javascript:void(0)" class="btn  btn-facebook" data-toggle="tooltip" title="Login with Facebook"> <i aria-hidden="true" class="fa fa-facebook"></i> </a>
              <a href="javascript:void(0)" class="btn btn-googleplus" data-toggle="tooltip" title="Login with Google"> <i aria-hidden="true" class="fa fa-google-plus"></i> </a>
            </div>
          </div>
        </div>-->
                </form>
            </div>
            <div class="alert alert-danger" role="alert">
                La sesión se ha iniciado en una nueva pestaña del navegador. <i class="far fa-window-restore"></i>.
                <strong>
         Por favor asegúrese de permitir el uso de ventanas emergentes en su navegador
        </strong>
            </div>
        </div>
    </div>
</section>

<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->